<div class="banner <%= current_page.data.banner_margin %>" style="background-image: <%= current_page.data.banner_gradient %> url(../images/pictures/<%= current_page.data.banner_picture %>);">
  <div class="main-container banner-<%= current_page.data.banner_layout %>">
    <div class="<%= current_page.data.banner_layout %>">
      <h1><%= current_page.data.banner_title %></h1>
      <p><%= current_page.data.banner_text %></p>
    </div>
  </div>
</div>
