<div class="footer">
  <div class="footer-links">
    <a href="<%= data.settings.social.linkedin %>" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="<%= data.settings.social.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="<%= data.settings.social.facebook %>" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>

  <div class="footer-copyright">
    <div class="display-none">
      <%= data.settings.author.name %> -
      <%= data.settings.author.company %> -
      <%= data.settings.author.address %> -
      <%= data.settings.author.email %>
    </div>
  </div>
</div>
